<div class="settings-container">
  <img src="../../../../assets/logo-horizontal.svg" class="logo" alt="Logo" />
  <div class="content-container">
    <p class="description">
      Aqui você pode gerenciar as configurações do aplicativo e realizar ações
      importantes, como excluir todos os dados armazenados.
    </p>
    <ul class="settings-list">
      <li class="settings-item">
        <app-delete-data-button></app-delete-data-button>
        <p class="item-description">
          Exclua todos os dados armazenados no aplicativo. Esta ação é
          irreversível e apagará todas as informações salvas.
        </p>
      </li>
    </ul>
  </div>
  <app-screen-navigator class="screen-navigator"></app-screen-navigator>
</div>
