@import "../../../../assets/styles/variables";

.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: $secondary-color;
}

.logo {
  width: 320px;
  height: 240px;
  margin: 1%;
}

.content-container {
  padding: 32px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  overflow-y: scroll;
}

.description {
  font-size: $font-size-medium;
  font-weight: bold;
  color: $font-color-secondary;
  margin-bottom: 24px;
  font-family: $font-primary;
  text-align: center;
  width: 90%;

  @media (min-width: 768px) {
    width: 60%;
  }
}

ul.settings-list {
  margin-top: 20px;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li.settings-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
  width: 320px;
  @media (min-width: 768px) {
    width: 360px;
  }

  app-delete-data-button {
    width: 320px;
    height: 100px;

    @media (min-width: 768px) {
      width: 360px;
      height: 100px;
    }
  }
}

.item-description {
  font-size: $font-size-small;
  color: $font-color-secondary;
  margin-top: 8px;
  font-family: $font-primary;
  text-align: center;
}

.screen-navigator {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
