<button class="home-button" (click)="navigateHome()" [hidden]="isCongratulation"><mat-icon>home</mat-icon></button>
<div id="carouselExampleCaptions" data-bs-touch="false" class="carousel slide no-transition" [ngClass]="{'information-screen' : isAInformationScreen(), }">
  <div class="carousel-indicators">
    <ng-container *ngFor="let content of contents; let i = index">
      <button type="button" data-bs-target="#carouselExampleCaptions" attr.data-bs-slide-to="{{i}}"
        [ngClass]="{'information-screen-btn' : isAInformationScreen(), 'active': i === 0}" aria-current="true" aria-label="Slide 1" [disabled]="true"></button>
    </ng-container>
  </div>
  <div class="carousel-inner" id="myCarousel">
    <ng-container *ngFor="let content of contents; let i = index">
      <div class="slide-container carousel-item" attr.data-bs-slide="{{i}}" [ngClass]="{'active': i === 0}">
        <ng-container [ngSwitch]="content.type">
          <app-image-content
            *ngSwitchCase="'image'"
            [phaseNumber]="phaseId"
            [phaseTitle]="phaseTitle"
            [image]="content.url"
            [contentText]="content.text">
          </app-image-content>
          <app-text-content
            *ngSwitchCase="'text'"
            [phaseNumber]="phaseId"
            [phaseTitle]="phaseTitle"
            [icon]="content.icon"
            [contentText]="content.text">
          </app-text-content>
          <app-video-content
            *ngSwitchCase="'video'"
            [phaseNumber]="phaseId"
            [phaseTitle]="phaseTitle"
            [videoId]="content.videoId"
            [contentText]="content.text">
          </app-video-content>
          <app-questions-presentation
            *ngSwitchCase="'questionsPresentation'"
            [questionsPresentationTitle]="content.title"
            [phaseNumber]="phaseId"
            [phaseTitle]="phaseTitle"
          >
          </app-questions-presentation>
          <app-question-content
            *ngSwitchCase="'question'"
            [questionId]="content.id"
            [phaseNumber]="phaseId"
            [phaseTitle]="phaseTitle"
            [question]="content.question"
            [icon]="content.icon"
            [options]="content.options"
            [answerIndex]="content.answerIndex"
          >
          </app-question-content>
          <app-congratulations
          *ngSwitchCase="'congratulation'"
            [phaseNumber]="phaseId"
            [phaseTitle]="phaseTitle"
            [totalQuestions] ="totalQuestions"
            [feedbackEnable]="content.feedbackEnable"
            [feedbackFormUrl]="content.feedbackFormUrl"
          >
          </app-congratulations>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <button [ngClass]="{'information-screen-btn' : isAInformationScreen()}" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev" [hidden]="isFirst">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <button [ngClass]="{'information-screen-btn' : isAInformationScreen()}" class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next" [hidden]="isLast || !isNextEnabled">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
