@import "../../../../assets/styles/variables";

button {
  width: 640px;
  background-color: $button-color-primary;
  border: none;
  border-radius: 16px;
  padding: 16px;
  font-size: $font-size-large;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
  color: $font-color-primary;

  &:active {
    background-color: darken($button-color-primary, 10%);
    transform: scale(0.95);
  }

  &.active {
    background-color: $button-color-active;
  }

  &.error {
    background-color: red;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
  }
}
