<section class="image-phase-container">
  <div class="phase-nav">
    <div class="phase-title">
      <h1 class="phase-number" *ngIf="phaseNumber">Fase {{ phaseNumber }}</h1>
      <h2 class="phase-title" *ngIf="phaseTitle">{{ phaseTitle }}</h2>
    </div>
  </div>

  <div class="video-container">
    <iframe *ngIf="url" [src]="url | safeUrl" frameborder="0" allowfullscreen></iframe>
  </div>

  <i class="text-content-container">
    <div class="text-component-body" *ngIf="contentText">
      <p>{{ contentText }}</p>
    </div>
  </i>
</section>
