<div class="about-container">
  <div class="content-container">
    <img src="../../../../assets/logo-horizontal.svg" class="logo" alt="Logo" />
    <p class="text">
      O aplicativo &ldquo;Computação Plugada - Redes&rdquo; visa simplificar e facilitar a compreensão dos conceitos fundamentais sobre redes de computadores. Aqui você encontrará uma abordagem acessível e prática para entender as redes e sua aplicação no mundo moderno.
    </p>
    <p class="text">
      Este aplicativo proporciona uma maneira interativa e didática de explorar conceitos de redes de computadores. Com uma interface intuitiva, ele é ideal tanto para estudo individual quanto para atividades em grupo.
    </p>
    <p class="text">
      Nosso objetivo é oferecer uma experiência enriquecedora que permita a você dominar os princípios de redes de computadores de forma envolvente e prática, sem a necessidade de recursos externos adicionais.
    </p>

    <div class="sub-container-box-content">
      <button class="btn-apps" (click)="openUrl('https://sites.google.com/view/computacaoplugada/p%C3%A1gina-inicial')">
        <img src="../../../../assets/logo computação plugada.png" class="img-site" alt="Site Link" />
      </button>
      <p class="text">
        Conheça mais sobre o projeto clicando na imagem acima.
      </p>
    </div>
    <div class="extra-space"></div>
  </div>

  <!-- screen-navigator -->
  <app-screen-navigator class="screen-navigator"></app-screen-navigator>
</div>
