<section class="image-phase-container">
  <div class="phase-nav">
    <div class="phase-title">
      <h1 class="phase-number" *ngIf="phaseNumber$ | async as phaseNumber">Fase {{ phaseNumber }}</h1>
    </div>

    <button (click)="close()" class="close-btn">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="header-info">
    <h2 class="topic-name" *ngIf="topicName$ | async as topicName">{{ topicName }}</h2>
  </div>

  <div class="image-container">
    <img *ngIf="image$ | async as image" [src]="image" alt="Image"/>
  </div>

  <div class="text-content-container">
    <div class="text-component-body" *ngIf="contentText$ | async as contentText">
      <p>{{ contentText }}</p>
    </div>
  </div>

  <button class="back-button" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button class="next-button" (click)="goToNextScreen()">
    <mat-icon>arrow_forward</mat-icon>
  </button>

</section>
