.phase-card-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px;
  overflow-y: auto;
  width: 100vw;
  box-sizing: border-box;

  app-phase-card-button {
    width: 320px;
    height: 100px;

    @media (min-width: 768px) {
      width: 360px;
      height: 100px;
    }
  }
}
