
<div class="screen-navigator">
    <!-- Conteúdo das três telas -->
    <div class="content">
      <!-- Seu conteúdo aqui -->
    </div>

    <!-- Bottom bar fixa -->
    <mat-toolbar color="primary" class="bottom-bar" role="navigation">
      <span class="spacer"></span>
      <button mat-icon-button >
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>help</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>info</mat-icon>
      </button>
      <span class="spacer"></span>
    </mat-toolbar>
  </div>
