<section class="question-phase-container">
  <div class="phase-nav">
    <div class="phase-title">
      <h1 class="phase-number" *ngIf="phaseNumber">Fase {{ phaseNumber }}</h1>
    </div>
  </div>

  <div class="icon-container">
    <mat-icon class="question-component-icon" *ngIf="icon">
      {{ icon }}
    </mat-icon>
  </div>

  <div class="question-content-container">
    <h2>{{question}}</h2>
    <app-answer-choice-list [phaseNumber]="phaseNumber" [options]="options" [questionId]="questionId" [answerIndex]="answerIndex"></app-answer-choice-list>
  </div>
</section>
