@import "../../../../assets/styles/variables";

.question-phase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $secondary-color;
  height: 100vh;
}

.question-content-container {
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: transparent;
  overflow: hidden;
  color: $primary-color;
}

.question-component-body {
  width: 80%;
  margin-top: 16px;
  font-size: $font-size-large;
  text-align: center;

  @media (min-width: 768px) {
    width: 50%;
  }
}

.phase-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 16px;
  padding: 0 20px;
  height: 50px;
  margin-bottom: 10vh;
  background-color: transparent;
}

.phase-title {
  width: 100%;
  text-align: center;
  color: $primary-color;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mat-icon.question-component-icon {
  height: 140px;
  width: 140px;
  font-size: 140px;
  color: $icon-color-secondary;

  @media (min-width: 768px) {
    height: 240px;
    width: 240px;
    font-size: 240px;
  }
}
