// Cores
$primary-color: #FF7744;
$secondary-color: #ffffff;
$icon-color-primary: #ffffff;
$icon-color-secondary: #FF7744;
$button-color-primary: #e76d41;
$button-color-secondary: #ffffff;
$button-color-active: #008000;
$font-color-primary: #ffffff;
$font-color-secondary: #FF7744;

// Fontes
$font-primary: 'Poppins', sans-serif, ;

// Tamanhos de fontes
$font-size-x-large: 24px;
$font-size-large: 24px;
$font-size-medium: 18px;
$font-size-small: 14px;
