.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que o contêiner ocupe a tela inteira */
}

.home-content {
  flex: 1; /* O conteúdo ocupará o espaço restante acima da bottom bar */
  padding: 16px;
  /* Estilos adicionais para o conteúdo da home */
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
