@import "../../../../assets/styles/variables";

.congratulations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: $primary-color;
  height: 100vh;
  padding-top: calc(66px + 10vh);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.phase-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 20px;
  height: 66px;
  background-color: transparent;
  z-index: 10;
}

.phase-title {
  width: 100%;
  text-align: center;
  color: $secondary-color;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.congratulations-message {
  margin-top: 16px;
}

.stars-container {
  margin-top: 16px;
  mat-icon {
    font-size: 64px;
    width: 64px;
    height: 64px;
  }
}

.star {
  color: $icon-color-primary;
}

.star-inactive {
  color: $icon-color-tertiary;
}

.screen-navigator {
  display: flex;
  justify-content: center;
  gap: 5%;
  align-items: center;
  background-color: $primary-color;
  position: fixed;
  bottom: 48px;
  width: 100%;

  .button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  button {
    width: 84px;
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: $button-color-secondary;
    position: relative;
    mat-icon {
      font-size: 64px;
      width: 64px;
      height: 64px;
      color: $button-color-primary;
    }
  }

  .button-label {
    font-size: $font-size-large;
    color: $font-color-primary;
    margin-top: 4px;
    text-align: center;
  }
}
