<div class="congratulations-container">
  <div class="phase-nav">
    <div class="phase-title">
      <h1 class="phase-number" *ngIf="phaseNumber">Fase {{ phaseNumber }}</h1>
      <h2 class="phase-title" *ngIf="phaseTitle">{{ phaseTitle }}</h2>
    </div>
  </div>
  <div class="content">
    <img src="assets/logo-vertical.svg" class="logo"/>
    <h2 class="congratulations-message">{{congratulations_message}}</h2>
    <div class="stars-container">
      <!-- Estrelas preenchidas -->
      <mat-icon *ngFor="let star of starsArray" class="star">star</mat-icon>
      <!-- Estrelas não preenchidas -->
      <mat-icon *ngFor="let _ of [].constructor(5 - starsArray.length)" class="star-inactive">star</mat-icon>
    </div>
  </div>

  <mat-toolbar color="primary" class="screen-navigator">
    <div class="button-container">
      <button mat-icon-button (click)="navigate('home')">
        <mat-icon>home</mat-icon>
      </button>
      <span class="button-label">Home</span>
    </div>
    <div class="button-container" [hidden]="">
      <button mat-icon-button (click)="openFeedbackFormInNewTab()">
        <mat-icon>assignment</mat-icon>
      </button>
      <span class="button-label">Feedback</span>
    </div>
    <div class="button-container">
      <button mat-icon-button (click)="restartPhase()">
        <mat-icon>refresh</mat-icon>
      </button>
      <span class="button-label">Reiniciar</span>
    </div>
  </mat-toolbar>
</div>
